doctype html
html(lang="en")
	head
		title T9 Coding Challenge
		link(href="/stylesheets/screen.css", rel="stylesheet", type="text/css")
	body
		script(src="js/coffee-script.js")
		script(src="cs/main.coffee", type="text/coffeescript")